.App {
  text-align: center;
  padding: 20px;
}
.tabs-ontainer{
  display: flex;
  padding: 20px;
  background-color: rgb(227, 227, 202);
}
.tab-panel{
  background-color: lightblue;
  padding: 20px;
  text-align: left;
  font-size: 18px;
}
.tab{
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(31, 235, 116);
  color: #000;
  border-radius: 30px;
  padding: 8px 20px;
  border: 1px solid black;
  border-top-right-radius: 0;
}
.active-tab{
  background-color: green;
  color: white;
}

.tab-left{ 
  justify-content: flex-start;
  gap: 20px;
}

.tab-container .tab-left .tab{
  width: 20px;
}
.tab-right{
  justify-content: flex-end;
  gap: 20px;
}
.disabled-tab{
  pointer-events: none;
  background-color: grey;
}